<% content_for :head do %>
    <%= stylesheet_link_tag "results.css" %>
<% end %>
<heading>
    <heading2>Search Results for <%=@search%></heading2>
</heading>

  
<% if @events %>
  <ul>
    <% @events.each do |event| %>
      <li>
        <%= event.band %>
      <br>
        <% if false %>
        #<% if event.dates.present? %>
        #  <% start_time = event.dates["start"] %>
        #  <%= start_time["localDate"] %> <%= start_time["localTime"] %>
        #<% end %>
        <% end %>
        <% if user_signed_in? %>
          <p> <%= button_to 'Save Concert', save_path( {:concert_name => event.band, :concert_id => event.id}) %> <p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No events found.</p>
<% end %>
  