<!DOCTYPE html>
<html>
  <head>
    <title>Group6</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>
    <navbar>
      <navitem><%=link_to "Home", root_path %></navitem>
      <% if user_signed_in? %>
        <navitem><%=button_to "Sign Out", destroy_user_session_path, method: "delete"%></navitem>
        <navitem><%=link_to "View Saved Concerts", concertlist_path%></navitem>
      <% else %>
        <navitem><%=link_to "Sign In", new_user_session_path%></navitem>
      <% end %>
      <navitem><%=link_to "About", root_path%></navitem>
    </navbar>

    <page>
      <heading>
        <heading1>Blissful Engelbartt</heading1>
        <heading2>The Concert Collector Site</heading2>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </heading>

      <%= yield %>
    </page>
  </body>
</html>
